.footer{
    background: #1e1e1e;
    padding-top: 40px;
    padding-bottom: 48px;
    margin-top: 60px;
    &-navigation{
        display: flex;
        &--item{
            color: #babfc3;
            font-size: 13px;
            border-right: 1px solid #babfc3;
            padding-left: 12px;
            padding-right: 12px;
            height: 12px;
            line-height: 12px;
            &:first-child{
                padding-left: 0;
            }
        }
    }

    &-copyright{
        color: #babfc3;
        font-size: 12px;
        margin-top: 18px;
    }

    &-bottom{
        margin-top: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-social{
        display: flex;
        align-items: center;
        a{
            margin-right: 25px;
        }
    }

    &-apps{
        &--link{
            margin-left: 20px;
        }
    }
}

@media screen and (max-width: 960px) {
    .footer{
        &-navigation{
            display: none;
        }

        &-copyright{
            text-align: center;
        }

        &-bottom{
            flex-direction: column;
        }

        &-social{
            a{
                margin-left: 15px;
                margin-right: 15px;
            }
        }

        &-apps{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 15px;
            a{
                margin-left: 0;
                margin-top: 10px;
            }
        }
    }
}